<%# Heading %>
<div id="about-top">
  <%= image_tag "top.png", class: "img-responsive" %>
</div>

<br>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <%# Mission Vision Tabs %>
    <div class="centered-pills">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#our_story" aria-controls="our_story" role="tab" data-toggle="tab">Our Story</a></li>
        <li role="presentation"><a href="#our_mission" aria-controls="our_mission" role="tab" data-toggle="tab">Our Mission</a></li>
        <li role="presentation"><a href="#media_page" aria-controls="media_page" role="tab" data-toggle="tab">Media Page</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="our_story">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div role="tabpanel" class="tab-pane" id="our_mission">..</div>
        <div role="tabpanel" class="tab-pane" id="media_page">.</div>
      </div>
    </div>

    <%# Core Values Tabs %>
    <h3 class="text-center">Our Core Values</h3>
    <div class="centered-pills">
      <!-- Nav tabs -->
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab" data-toggle="tab">Commitment to our vision</a></li>
        <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab">Growth</a></li>
        <li role="presentation"><a href="#three" aria-controls="three" role="tab" data-toggle="tab">Vulnerability</a></li>
        <li role="presentation"><a href="#four" aria-controls="four" role="tab" data-toggle="tab">Excellence</a></li>
        <li role="presentation"><a href="#five" aria-controls="five" role="tab" data-toggle="tab">Communication</a></li>
        <li role="presentation"><a href="#six" aria-controls="six" role="tab" data-toggle="tab">Honesty & Transparency</a></li>
        <li role="presentation"><a href="#seven" aria-controls="seven" role="tab" data-toggle="tab">Teamwork & Collaboration</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="row">
        <div class="col-lg-1">
          <%= image_tag "quote_left.png", class: "img-responsive" %>
        </div>
        <div class="col-lg-10">
          <br>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="one">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div role="tabpanel" class="tab-pane" id="two">...</div>
            <div role="tabpanel" class="tab-pane" id="three">...</div>
            <div role="tabpanel" class="tab-pane" id="four">...</div>
            <div role="tabpanel" class="tab-pane" id="five">...</div>
            <div role="tabpanel" class="tab-pane" id="six">...</div>
            <div role="tabpanel" class="tab-pane" id="seven">...</div>
          </div>
        </div>
        <div class="col-lg-1">
          <br><%= image_tag "quote_right.png", class: "img-responsive" %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<%# Middle %>
<div id="about-top">
  <%= image_tag "mid.png", class: "img-responsive" %>
</div>
